# global
__pycache__/

# root
/dist/

# script
## readme
script/readme/cache/
script/readme/config/github.private.json
script/readme/tokei/*
!script/readme/tokei/languages.json

# config
## mypy
.mypy_cache/
## nox
.nox/
## pyenv
.python-version
## pytest
.pytest_cache
